@{
	ViewData["Title"] = "Home";
}

<div class="text-center">
	<h3 class="text-secondary-emphasis">Clínica Médica</h3>
	<p><a class="btn btn-outline-dark btn-lg" asp-area="Identity" asp-page="/Account/Login">Entrar</a></p>



</div>
